<table id="faxes_table">
	<tr>
		<th></th>
		<th align="left">Filename</th>
		<th align="left">Received</th>
    <th align="left"></th>
	</tr>
<% faxes.each do |fax| %>
	<tr id="fax_<%= fax.id %>" class="<%= (fax.private) ? 'private' : 'public' %>">
    <td class="actions" valign="top"><%= actions_for_fax(fax) %></td>
		<td class="filename" valign="top"><%= link_to fax.filename, fax %></td>
		<td class="received" valign="top"><%=h fax.created_at.strftime("%I:%M:%S %p (%b %d)") %></td>
	</tr>
<% end %>
</table>